<h1>Suckers</h1>

<div class="break"></div>

<div class="content">
  <p><a href='/suckers'>Return to listing</a></p>
</div>

<div class="break"></div>

<table>
  <th>Name</th>
  <th>Email</th>
  <th>Twitter</th>
  <!-- populate one row only -->
  <tr>
    <td><%= session[:value][0][:name] %></td>
    <td><%= session[:value][1][:email] %></td>
    <td><%= session[:value][2][:twitter] %></td>
  </tr>
</table>
