<h1>Suckers</h1>

<div class="break"></div>

<div class="content">
  <p><a href='/suckers'>Return to listing</a></p>
</div>

<div class="break"></div>

<table>
  <th>Name</th>
  <th>Email</th>
  <th>Twitter</th>
  <!-- populate one row only -->
  <% session[:form_input][index.to_i - 1] %>
    <tr class="row" onclick="location.href='/detail/<%= index %>'">
      <td><%= session[:form_input][index.to_i - 1][:fullname] %></td>
      <td><%= session[:form_input][index.to_i - 1][:email] %></td>
      <td><%= session[:form_input][index.to_i - 1][:twitter] %></td>
    </tr>
</table>
