<h1>Coming soon!</h1>

<div class="break"></div>

<div class="content">
  <p>This is going to be the most amazing thing you've ever seen. Really.</p>

  <p>Give us your deets and we'll let you in on the ground floor.</p>
</div>

<img src="/images/the_cake_is_a_lie.png">

<div class="break"></div>

<div class="form">
  <form>
    <fieldset>
      <input type="text" id="name" placeholder="What Everybody Calls You" /><br>
      <input type="text" id="email" placeholder="Your@email.com" /><br>  
      <input type="text" id="twitter" placeholder="@Twitter" />
      <input type="submit" value="Press The Button!">
    </fieldset>
  </form>
</div>

<div class="break_100"></div>