<h1>Suckers</h1>

<div class="break"></div>

<div class="content">
  <p>Click anywhere on a row to see details</p>
</div>

<div class="break"></div>

<table>
  <th>Name</th>
  <th>Email</th>
  <th>Twitter</th>
  <!-- When form submits, add Ruby code to generate new table row -->
  <tr>
    <td>Joe Smith</td>
    <td>joe.smith@gmail.com</td>
    <td>@joeschmo</td>
  </tr>
</table>
