<h1>Suckers</h1>

<div class="break"></div>

<div class="content">
  <p>Click anywhere on a row to see details</p>
</div>

<div class="break"></div>

<table>
  <th>Name</th>
  <th>Email</th>
  <th>Twitter</th>
  <!-- When form submits, add Ruby code to generate new table row -->
  <tr onclick="location.href='/detail'">
    <td><%= session[:value][0][:name] %></td>
    <td><%= session[:value][1][:email] %></td>
    <td><%= session[:value][2][:twitter] %></td>
  </tr>
</table>
